.monCercle1 {
  @include formeCercle(50px, #ff6600);
}
.monCercle2 {
  @include formeCercle(120px, #ffee00);
}

$tailleCercle: 20px;
$margeIncr: -6px;

@for $i from 1 through 6 {
  .monCercle3:nth-child(#{$i}) {
    @include formeCercle($tailleCercle, #302c2c);
    margin: $margeIncr;
    $tailleCercle: $tailleCercle + 8px;
    $margeIncr: $margeIncr+(-1px);
  }
}

